<<<<<<< HEAD
body {
     background-color:blue;
}
=======
body{
      background-color:#00F;
      font-weight:bold;
      color:#F00;
      font-size:18px;
}
>>>>>>> bb05d8930231043159f928ca01e86420c31b74a9
